<br>

<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="form-inline">
      <form [formGroup]="addAtivoFormulario">
        <input #pesquisa class="form-control mr-sm-2" type="search" placeholder="Símbolo" aria-label="Search" [(value)]="valorPesquisa"
          (keyup)="capturaCampo(pesquisa.value, $event)" id="campo-simbolo" autocomplete="off">
        <button type ="button" id="botao-adicionar" class="btn btn-outline-success my-2 my-sm-0" (click)="adicionaAcao()">Adicionar</button>

        <input id="nomeCarteira" type="text" class="form-control" formControlName="nomeCarteira" style="border:0; font-size:20px;">

        <div class="btn" (click)="editaNome()">
          <div *ngIf="addAtivoFormulario.disabled">
            <i class="fa  fa-pencil"></i>
          </div>
          <div *ngIf="addAtivoFormulario.enabled">
            <i class="fa  fa-floppy-o" (click)="salvaNome()"></i>
          </div>
        </div>
      </form>
    </div>
  </nav>


  <div class="list-group " style="position: absolute">
    <a *ngFor="let item of listaAcoes" style="height: 35px; padding: 5px 15px; cursor:pointer;" class="list-group-item list-group-item-primary list-group-item-action"
      (click)="selecionaAcao(item.cod, item.desc)">{{item.cod}} - {{item.desc}}
    </a>
  </div>

  <table class="table  table-hover table-sm" style="font-size:14px;">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Empresa</th>
        <th>Quantidade</th>
        <th>Preço médio</th>
        <th>Grafico</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of carteira.listaAtivos" id="linhaTabela" style="font-size: 12px">
        <td>{{item.cod}} </td>
        <td>{{item.desc}}</td>
        <td *ngIf="item.listaOperacao"> {{calculaTotal(item.listaOperacao)}}</td>
        <td *ngIf="!item.listaOperacao">-</td>
        <td *ngIf="item.listaOperacao"> {{calculaPM(item)}}</td>
        <td *ngIf="!item.listaOperacao">-</td>
        <!-- <td>{{item.qtd}}</td> -->
        <!-- <td>{{item.qtd | currency:'BRL'}} </td> -->
        <td>
          <div>
            <a type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="TESTE"
              style="padding-top:0px; padding-bottom:0px; font-size: 12px;" (click)="editarOperacoes(item)">
              Editar </a>
            <a type="button" class="btn btn-alert btn-sm" (click)="limparListaAcoesSelecionadas(item.cod)" 
              style="padding-top:0px; padding-bottom:0px; font-size: 12px;">
              Limpar </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alterar portifólio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formOperacaoModal" (ngSubmit)="salvarOperacao()">
          <div class="row">
            <div class="container border col-md-3">
            </div>
            <div class="container border col-md-9">
              <div class="row">
                <div class="col align-self-center" style="margin-left: 15px;">
                  <div class="form-check row">
                    <input class="form-check-input" type="radio" formControlName="radioCompraVenda" id="radioCompra" value="compra">
                    <label class="form-check-label" for="radioCompra">
                      Compra
                    </label>
                  </div>
                  <div class="form-check row">
                    <input class="form-check-input" type="radio" formControlName="radioCompraVenda" id="radioVenda" value="venda">
                    <label class="form-check-label" for="radioVenda">
                      Venda
                    </label>
                  </div>
                </div>
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Data:</label>
                  <input type="date" class="form-control" formControlName="data">
                </div>
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Qtd:</label>
                  <input type="number" class="form-control" formControlName="qtd">
                </div>
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Preço:</label>
                  <input type="number" class="form-control" formControlName="preco">
                </div>
                <div class="col">
                  <label for="recipient-name" class="col-form-label">Custo:</label>
                  <input type="number" class="form-control" formControlName="custo">
                </div>
              </div>
              <div class="row">
                <div class="col col-md-8">
                  <label for="message-text" class="col-form-label">Anotações:</label>
                  <textarea class="form-control" formControlName="nota"></textarea>
                </div>
                <div class="col col-md-4 align-self-end">
                  <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
              <div class="row clear">
                <br>
              </div>
              <div class="row" style="text-align:right;">

              </div>
              <br/>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <table class="table  table-hover table-sm" style="font-size:12px;">
          <tr>
            <th>#</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Qtde</th>
            <th>Preco</th>
            <th>Custo</th>
            <th>Anotações:</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of ativoSelecionadoModal.listaOperacao; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.compraOuVenda}}</td>
            <td>{{item.data}}</td>
            <td>{{item.qtd}}</td>
            <td>{{item.preco}}</td>
            <td>{{item.custo}}</td>
            <td>{{item.nota}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" (click)="excluirOperacao(i)" style="padding-top:0px; padding-bottom:0px;">
                Excluir </button>
            </td>
          </tr>
          <tfoot>
            <!-- <td>teste</td>
              <td>teste</td>
              <td>teste</td>
              <td>teste</td>
              <td>teste</td>
              <td>teste</td>
              <td>teste</td> -->

          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>