<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="container col-3">
      <div class="row">
        <div class="col">
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="../../assets/taesa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TAEE11</h5>
                  <p class="card-text">Transmissora Alianca Energia Eletrica SA Brazilian Units
                      BVMF: TAEE11 - 3 de abr 17:06 BRT</p>
                  <a href="#" class="btn btn-primary">Fundamentos</a>
                </div>
              </div>
              <br/>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="../../assets/taesa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TAEE11</h5>
                  <p class="card-text">Transmissora Alianca Energia Eletrica SA Brazilian Units
                      BVMF: TAEE11 - 3 de abr 17:06 BRT</p>
                  <a href="#" class="btn btn-primary">Fundamentos</a>
                </div>
              </div>
              <br/>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="../../assets/taesa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TAEE11</h5>
                  <p class="card-text">Transmissora Alianca Energia Eletrica SA Brazilian Units
                      BVMF: TAEE11 - 3 de abr 17:06 BRT</p>
                  <a href="#" class="btn btn-primary">Fundamentos</a>
                </div>
              </div>
              <br/>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="../../assets/taesa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TAEE11</h5>
                  <p class="card-text">Transmissora Alianca Energia Eletrica SA Brazilian Units
                      BVMF: TAEE11 - 3 de abr 17:06 BRT</p>
                  <a href="#" class="btn btn-primary">Fundamentos</a>
                </div>
              </div>
              <br/>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="../../assets/taesa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TAEE11</h5>
                  <p class="card-text">Transmissora Alianca Energia Eletrica SA Brazilian Units
                      BVMF: TAEE11 - 3 de abr 17:06 BRT</p>
                  <a href="#" class="btn btn-primary">Fundamentos</a>
                </div>
              </div>
              <br/>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="../../assets/taesa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TAEE11</h5>
                  <p class="card-text">Transmissora Alianca Energia Eletrica SA Brazilian Units
                      BVMF: TAEE11 - 3 de abr 17:06 BRT</p>
                  <a href="#" class="btn btn-primary">Fundamentos</a>
                </div>
              </div>
              <br/>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="../../assets/taesa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TAEE11</h5>
                  <p class="card-text">Transmissora Alianca Energia Eletrica SA Brazilian Units
                      BVMF: TAEE11 - 3 de abr 17:06 BRT</p>
                  <a href="#" class="btn btn-primary">Fundamentos</a>
                </div>
              </div>
              <br/>
        </div>
      </div>
    </div>
    <div class="container col-lg-9 border ">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Resumo</a>
          <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
            aria-selected="false">Acoes</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
            aria-selected="false">FII</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <app-portifolio-acoes> </app-portifolio-acoes>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
      </div>
    </div>
  </div>
</div>